.navbar-nav {
  font-family: Gill sans;
}
ul li:hover {
  transform: scale(1.1);
}

.card {
  font-family: garamond;
}

.card-img-top {
  object-fit: cover;
}

.video-fluid {
  width: 100%;
  height: 100%;
  border:0%;
}
